
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@font-face {
font-family: 'DIN Pro Light';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Light'), url('../../fonts/DINPro-Light.woff') format('woff');
}

@font-face {
font-family: 'DIN Pro Medium';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Medium'), url('../../fonts/DINPro-Medium.woff') format('woff');
}

@font-face {
font-family: 'DIN Pro';
font-style: normal;
font-weight: normal;
src: local('DIN Pro'), url('../../fonts/DINPro.woff') format('woff');
}

@font-face {
font-family: 'DIN Pro Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Bold'), url('../../fonts/DINPro-Bold.woff') format('woff');
}

$h1-font: normal 24px/1.5 'Varela Round', sans-serif;

.title {
  font: $h1-font;
}
