.cards {
  margin-bottom: 20px;

  .image-item-card {
    margin-bottom: 0.75rem;
    @include box_shadow($grey-m, 3);
    max-height: 300px;
    overflow: hidden;
  }

  .item-price {
    @include dnipro(medium, 16px, $blue-m);
  }

  .item-desc {
    @include varelaFont(18px, $grey-d);
    color: $grey-d;
  }

  p {
    @include dnipro(regular, 15px, $grey-m);
  }

  .fa {
    font-size: 1.5em;
    padding-right: 20px;
    color: $blue-m;
  }

  .no-padding-left {
    padding-left: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }
}

.active-filters-explore {
  margin: 10px 0;

  .filters {
    color: $orange-l;
    padding-right: 10px;
    display: inline-block;
  }

  .filters-result {
    padding-right: 30px;
    color: $grey-m;
    display: inline-block;
  }
}

.title-details-item {
  margin-top: 10px;
}

.details-item {
  display: block;

  i,
  p {
    display: inline-block;
  }
}

#btn-side-container {
  position: fixed;
  top: 20px;
}

.btn-side-container-extra {
  position: relative;
  padding-bottom: 60px;
}
