#landing_body {
  background-color: #fafafa;
}

.navbar_container {
  .logo_container {
    font-size: 16pt;
    @include dnipro(regular, 15pt, $grey-d);
  }

  .navbar-brand {
    @include varelaFont( 15pt, $white);

    &:hover {
      @include varelaFont( 15pt, $blue-m);
    }
  }

  .navbar-nav {
    @include dnipro(regular, 15pt, $grey-d);
  }

  #login {
    @include respond-to($large-desktop) {
      margin-left: 480px;
    }
  }

  #logo {
    width: 42px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
    position: absolute;
  }

  #header_titles {
    margin-left: 25px;
  }

  #logo_text {
    margin-left: 40px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.blur {
  filter: blur(5px);
}

.navbar-right {
  margin-left: 25px;
}

.navbar_titles {
  margin-top: 20px;
}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

#img_background {
  position: absolute;
  width: 100%;
  height: 750px;
  top: 0;
  object-fit: cover;
  transition: all ease 0.1s;
}

#top_title_container {
  margin-top: 160px;
  margin-bottom: 160px;

  #title {
    font-size: 24pt;
    color: #fff;
    @include dnipro(regular, 35px, $white);
  }
}

.medium_box {
  background-color: #fff;
  height: 511px;
  border-radius: 6px;
  @include box_shadow($grey-m, 2);
  margin-bottom: 30px;

  #enjoy_img {
    width: 385px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;

    &:focus {
      outline: 0;
    }
    @include respond-to($tablet-portrait) {
      padding-top: 80px;
    }
  }

  #enjoy_text {
    color: #666;
    margin-top: 100px;
    font-size: 14pt;
    @include dnipro(regular, 15pt, $grey-d);
  }
}

.medium_box_2 {
  @extend .medium_box;
  background-color: #3459FF;

  #title_box {
    margin-top: 180px;
    @include respond-to($tablet-portrait) {
      margin-top: 30px;
      padding-top: 10px;
    }
  }

  #title {
    @include dnipro(light, 25pt, $white);
    @include respond-to($tablet-portrait) {
      text-align: center;
    }
  }

  a {
    font-size: 12pt;
    color: #fff;
  }

  p {
    @include dnipro(regular, 15pt, #99acff);
  }
}

.big_box {
  background-color: #2096F3;
  border-radius: 6px;
  @include box_shadow($grey-m, 2);
  height: 690px;
  margin-bottom: 30px;

  #title_browser {
    text-transform: uppercase;
    margin-top: 45px;
    outline: 0;
    @include dnipro(bold, 25pt, $white);
  }

  #desc_browser {
    @include dnipro(regular, 12pt, #8fcaf9);
  }

  #browser_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 93px;
    height: 420px;
    @include box_shadow($blue-d, 2);
    object-fit: cover;
    @include respond-to($tablet-portrait) {
      height: 230px;
    }
  }
  @include respond-to($tablet-portrait) {
    height: 500px;
  }
}

.small_box {
  border-radius: 6px;
  height: 20px;
  @include box_shadow($grey-m, 2);
  margin-bottom: 30px;
}

#sb_1 {
  @extend .small_box;
  height: 510px;
  background-color: #5553CE;
  outline: 0;

  #search_box {
    margin-top: 93px;

    #title_search {
      @include dnipro(regular, 25pt, $white);
    }

    #desc_search {
      @include dnipro(regular, 12pt, #9997e1);
    }

    #search_img {
      width: 370px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      @include respond-to($tablet-landscape) {
        margin-top: 166px;
      }
      @include respond-to($phone) {
        margin-top: 201px;
      }
    }
  }
}

#sb_2 {
  @extend .small_box;
  height: 510px;
  background-color: #38C591;

  #search_box {
    margin-top: 93px;
    @include respond-to($tablet-portrait) {
      margin-top: 30px;
    }

    #title_search {
      @include dnipro(regular, 25pt, $white);
    }

    #desc_search {
      @include dnipro(regular, 12pt, #9be2c8);
    }

    #search_img {
      width: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
  }
}

.iphone_container {
  @include respond-to($tablet-landscape) {
    padding-top: 30px;
  }
}

.sb_title_container {
  @include respond-to($tablet-landscape) {
    padding-top: 30px;
  }
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #2096F3;
  background-color: transparent;
}

#iphone_img {
  height: 380px;
  margin-top: 60px;
  @include respond-to($tablet-landscape) {
    margin-top: 30px;
  }
  @include respond-to($tablet-portrait) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
  }
  @include respond-to($phone) {
    margin-top: -47px;
  }
}

#share_img {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 361px;
  height: 78px;
  @include respond-to($phone) {
    width: 311px;
    height: 68px;
  }
}

#footer_fluid {
  padding-left: 0;
  padding-right: 0;
  height: 332px;
}

#footer_one {
  background-color: #fff;
  height: 150px;
  padding: 0;
  outline: 0;
  @include dnipro(regular, 15pt, $grey-d);
}

#footer_two {
  margin-top: 5px;
  background-color: #fff;
  height: 180px;
  padding: 0;
  @include dnipro(regular, 15pt, $grey-d);
  @include respond-to($tablet-portrait) {
    height: 400px;
  }
}

.footer_link {
  p {
    display: inline-block;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 12pt;
    color: $grey-m;
    @include respond-to($phone) {
      margin-left: 14px;
    }
  }
}

#footer_two {
  a,
  p {
    font-size: 12pt;
    color: $grey-m;
    display: inline-block;
  }

  .title {
    margin-top: 50px;
  }
}

.register_box {
  @include respond-to($tablet-portrait) {
    visibility: hidden;
  }
}

.sb_title_container {
  @include respond-to($tablet-portrait) {
    margin-top: 10px;
  }

  #title_search {
    @include respond-to($phone) {
      margin-top: 30px;
    }
  }
}
