.profile-image {
  border-radius: 100%;
}

.tab-profile {
  padding: 0;
  margin: 6% 0;

  li {
    display: inline-block;
    margin-right: 50px;

    a {
      @include varelaFont(16px, $grey-m);

      &.active,
      &:hover {
        text-decoration: none;
        color: $blue-d;
      }
    }
  }
}

.placeholder {
  .user {
    @include varelaFont(20px, $grey-d);
  }

  .place {
    @include dnipro( 'regular', 16px, $grey-m);
  }
}

.reviewsProfile {
  padding-bottom: 35px;
}

#profile_image_review {
  width: 75%;
  margin-left: 20px;
}

.commenter {
  @include dnipro( 'regular', 14px, $grey-d);
}

.comment {
  @include dnipro( 'regular', 14px, $grey-m);
}

.date {
  text-transform: uppercase;
  @include dnipro( 'regular', 14px, $grey-m);
}
