.profile-image {
  border-radius: 100%;

  a {
    img {
      transition: 0.2s all ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.tab-profile {
  padding: 0;
  margin: 6% 0;

  li {
    display: inline-block;
    margin-right: 50px;

    a {
      @include varelaFont(16px, $grey-m);

      &.active,
      &:hover {
        color: $blue-d;
      }
    }
  }
}

.placeholder {
  .user {
    @include varelaFont(20px, $grey-d);
  }

  .place {
    @include dnipro( 'regular', 16px, $grey-m);
  }

  .statistics-profile {
    h5 {
      @include varelaFont(20px, $grey-d);
    }

    span {
      @include varelaFont(14px, $grey-m);
    }
  }
}

.reviewsProfile {
  padding: 25px 0;
  border-bottom: 1px solid #eee;
}

.info-profile {
  .left-part {
    h6 {
      @include dnipro( 'regular', 14px, $grey-m);
    }
  }

  .right-part {
    h6 {
      @include dnipro( 'medium', 14px, $grey-d);
    }
  }

  h6 {
    margin-top: 15px;
  }
}

#profile_image_review {
  width: 75%;
  margin-left: 20px;
}

.profile_review {
  a {
    @include varelaFont(16px, $grey-d);
    transition: 0.2s all ease;

    &:hover {
      color: $grey-m;
    }
  }
}

.commenter {
  @include dnipro( 'medium', 15px, $grey-d);
}

.comment {
  @include dnipro( 'regular', 14px, $grey-m);
}

.date {
  text-transform: uppercase;
  @include dnipro( 'regular', 14px, $grey-m);
}
