.blueButton {
  @include button(100%, $blue-m, 16px);
}
// BOTTONI ARANCIONI TONDI
.btn-circle {
  @include button(40px, $orange-d, 16px);
  margin-bottom: 20px;
  position: absolute;
  right: 50%;
  top: 0;
  margin-right: -30px;

  &:hover {
    @include button(132px, $orange-d, 16px);
    transition: all ease 0.2s;
    animation-direction: alternate;
  }

  &:focus {
    outline: none;
    transition: all ease 0.1s;
    color: $white;
  }
}

.btn-circle-light {
  @include button(40px, $orange-l, 16px);
  position: absolute;
  right: 50%;
  top: 0;
  margin-bottom: 20px;
  margin-right: -30px;

  &:hover {
    @include button(132px, $orange-l, 16px);
    transition: all ease 0.2s;
    animation-direction: alternate;
  }

  &:focus {
    outline: none;
    color: $white;
  }
}
