.checkbox>input[type="checkbox"]{
  display: none;
}
.checkbox__visual {
  vertical-align: middle;
  padding-left: 2em;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $grey-m;
      border-radius: 0.125em;
      transform-origin: 100% 100%;
      transition: transform .1s;
    }
}
[type="checkbox"]:checked ~ .checkbox__visual:before {
  transform: rotate(40deg);
  height: 20px;
  width: 10px;
  top: -7px;
  left: -4px;
  border-left: none;
  border-top: none;
  border-right: 2px solid $orange-d;
  border-bottom: 2px solid $orange-d;
}
