// Colors

$blue-l: #99E9F2;
$blue-m: #22B8CF;
$blue-d: #1098AD;

$orange-l: #FAB005;
$orange-d: #F08C00;

$green: #7ED321;
$red: #D0011B;
$white: #FFF;

$grey-l: #E7E7E7;
$grey-m: #9B9B9B;
$grey-d: #4A4A4A;


// Typography
$h1-font: normal 24px/1.5 'Varela Round', sans-serif;
